@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne+Tactile&display=swap');
body {
    background: gray;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Syne Tactile', cursive;
    color: white;
    margin: 0;
    padding: 10px;
}

h2 {
    color: #E36E0B;
}

header {
    background-color: tomato;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    margin: 0 0 20px 0;
}

main {
    width: 600px;
    background: #f4f4f4;
    margin: 0 auto;
    padding: 20px;
}